<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CBOpenData</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Slabo+27px">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Contact-Form-Clean.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Social-Icons.css') }}">
        <script>

        </script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    </head>

    <body>
        <div id="liked-container">
            <h1>{{ user.username }}</h1>
            <p>Liked Maps:</p>
            <ul class="liked-maps-list">
                {% for liked in user.liked_maps %}
                    <li><a class="liked-link" href="../../map/{{ liked.id }}">{{ liked.title }}</a></li>
                {% endfor %}
            </ul>
            <p>Liked Datasets:</p>
            <ul class="liked-datasets-list">
                {% for liked in user.liked_data_sets %}
                    <li><a class="liked-link" href="../../dataset/{{ liked.id }}">{{ liked.title }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>

</html>